/* Center whole page */
body {
  background: #f4f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login box */
.login-container {
  width: 350px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

/* Inputs */
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
.login-container button {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background: #0056b3;
}

/* Dashboard */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #dddeda, #fbfeff);
}

.dashboard-container {
  max-width: 800px;
  margin: 80px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(8, 31, 205, 0.2);
}
.dashboard-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color:#007bff;
}

.dashboard-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.dashboard-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.dashboard-form button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.dashboard-form button:hover {
  background: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #0056b3;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

body {
  margin: 0;
  padding-top: 55px;
  font-family: Arial, sans-serif;
  background: #f5f6fa;
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: #0056b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}